@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background-color: #DCDCDC;
}

#header{
  background-color: seagreen;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 20px 30px;
  margin: 0 auto;

}


#main{
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

h3{
  background-color: seagreen;
  color: #fff;
  font-style: bold;
  width: 40%;
  padding: 20px;
  margin: 10px 0;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  justify-content: center;
  letter-spacing: 1.3px;
  word-spacing: 5px;
}

h3:hover{
  background-color: #fff;
  color: seagreen;
  border: 2px solid seagreen;
}

img{
  width: 30%;
  height: 30%;
  box-shadow: 0 0 16px black;
  margin-bottom: 40px;
  
}

img:hover{
  border: 2px solid seagreen;
  box-shadow: 0 0 8px black;
}

#footer{
  background-color: seagreen;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 20px 30px;
  margin: 0 auto;
}